/*** Desktop Oriented *******************************/
body {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Hide the element */
.hide {
  opacity: 0;
}

/** Login Page ---------------------------------------------------------------------------*/
#login-page {
  display: block;
  width: 100%;
  height: 1500px;
  color: white;
  text-align: center;
  background-image: url("img/background-red-linear-blue-gradient.png");
  background-position: center;
  background-size: 100% 100%;
  background-color: #353333;
}

form {
  /* display: block; */
  margin-top: 100px;
  border-style: dotted;
  border-width: 8px;
  width: 800px;
  height: 500px;
  display: inline-block;
  justify-content: center;
  font-size: x-large;
}

#userName {
  margin-top: 20px;
}

#userEmail {
  margin-top: 20px;
}

#chooseMode {
  margin-top: 20px;
}
.agreement {
  font-size: medium;
}

.agreementLink {
  color: rgb(54, 54, 210);
  text-decoration: blue underline;
  font-size: medium;
}

#button-login {
  margin-top: 40px;
}
#button-direct {
  margin-top: 40px;
}

/** Game Page ----------------------------------------------------------------------------*/
#game-page {
  display: none;
  width: 100%;
  height: 100%;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(3, 130px);
  grid-gap: 20px 20px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 30px;
}

#game-page .head-info {
  border-style: dashed;
  border-width: 12px;
  color: black;
  border-color: rgb(50, 100, 50);
  font-size: 40px;
  background-image: url("img/background-burst-rays-shadow-sunburst-yellow-turquoise.png");
  background-position: center;
  background-size: 100% 100%;
  background-color: #b9abab; /* Used if the image is unavailable */
  margin-bottom: 50px;
  padding: 20px 20px;
  height: 400px;
  /* best width for background image */
  width: 910px;
  display: inline-block;
}

#game-page h2 {
  background-color: rgb(232, 228, 228);
  width: fit-content;
}

.notification {
  background-color: rgb(232, 228, 228);
  margin-top: 60px;
  font-size: 60px;
  display: inline-block;
  width: fit-content;
  white-space: nowrap;
}

/* shake all the cards */
/* code is from https://www.w3schools.com/howto/howto_css_shake_image.asp */
.shaking {
  animation: shakeCard 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shakeCard {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}

button {
  margin-left: 30px !important;
  margin-right: 30px !important;
  margin-bottom: 50px !important;
}
/* ---footer------------------------------------ */
footer {
  margin-top: 2px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; /* Footer height */
  text-align: center;
  color: black;
}
/*** phone screen oriented @media  *******************************************************/
