/*** Desktop Oriented *******************************/
body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(100px, 4);
  grid-template-rows: repeat(100px, 3);
  grid-gap: 10px 10px;
  justify-content: center;
}

/* Login Page */
#login-page {
  display: none;
}
#forgot-pswd {
  color: blue;
  text-decoration: blue underline;
}
.agreement {
  color: blue;
  text-decoration: blue;
}

/* Game Page */
#game-page {
  /* display: none; */
}

/* Ranking Page */
#rank-page {
  display: none;
}

/*** phone screen oriented @media  ***********************/
