/*** Desktop Oriented *******************************/
body {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Hide the element */
.hide {
  opacity: 0;
}

/** Login Page ---------------------------------------------------------------------------*/
#login-page {
  display: none;
  background-image: url("img/background-white-3d-cubes-red.png");
}
#forgot-pswd {
  color: blue;
  text-decoration: blue underline;
}
.agreement {
  color: blue;
  text-decoration: blue;
}

/** Game Page ----------------------------------------------------------------------------*/
#game-page {
  width: 100%;
  height: 100%;
  text-align: center;
  /* display: none; */
  /* TODO: randomlize backgroun picture??? */
  /* background-image: url("img/background-streaks-stripes-lines-yellow-black.png"); */
  /* a little off center */
  /* background-image: url("img/background-concentric-white-drop-shadow-circles-purple-rings.png");
  background-size: cover; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 130px);
  grid-template-rows: repeat(3, 130px);
  grid-gap: 20px 20px;
  justify-content: center;
  padding: 20px;
  margin-bottom: 100px;
}

/* TODO: in the page center and left aligned, a different font style */
.head-info {
  border-style: dashed;
  color: green;
  font-size: x-large;
  position: relative;
  text-align: left;
  margin-bottom: 80px;
}
/* shake all the cards */
/* code is from https://www.w3schools.com/howto/howto_css_shake_image.asp */
.shaking {
  animation: shakeCard 0.5s;
  animation-iteration-count: infinite;
}
@keyframes shakeCard {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-2deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(2deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-2deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-2deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(2deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-2deg);
  }
}

/** Ranking Page ------------------------------------------------------------------------*/
#rank-page {
  display: none;
}

/*** phone screen oriented @media  *******************************************************/
